.char-card-container {
    margin-right: 20px;
    min-width: 400px;
    min-height: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}